{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Pivozavry EduApp</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <nav>
      <ul style="list-style: none; display: flex; justify-content: flex-end;">
        <li id="li_element"><a href="#" id="li_href">Home</a></li>
        <li id="li_element"><a href="#" id="li_href">About</a></li>
        <li id="li_element"><a href="#" id="li_href">Services</a></li>
        <li id="li_element"><a href="#" id="li_href">Contact</a></li>
      </ul>
    </nav>


    {% block content %}
        <div>Replace this value with the elements of the content</div>
    {% endblock %}
    
  </body>
</html>

