{% extends "base.html" %}

{% block content %}
    <h1 class="li_element_page"> Home Page </h1>
    <div>
        <p class="li_element_page"> This should contain our actual page</p>
        <p class="li_element_page"> it should have ways to access the inner functions</p>
        <p class="li_element_page"> like:</p>

        <ul>
            <li class="li_element_page"><a href=''> TechTree </a></li>
            <li class="li_element_page"><a href=''> Exercises </a></li>
            <li class="li_element_page"><a href=''> Challanges </a></li>
            <li class="li_element_page"><a href=''> User profile </a></li>
            <li class="li_element_page"><a href=''> Comunity (Forum) </a></li>
            <li class="li_element_page"><a href=''> And what we want it to do </a></li>
            <li class="li_element_page"><a href='/'> and somewhere the logout option </a></li>
        </ul>
    </div>
{% endblock %}