{% extends "base.html" %}

{% block content %}
<h1 id="reg_title">Registration Form</h1>
    <form id="registration_form" method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="form-group">
            <label class="input_reg_label" for="username">Username:</label>
            <input class="input_reg_form" type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label class="input_reg_label" for="email">Email:</label>
            <input class="input_reg_form" type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label class="input_reg_label" for="password">Password:</label>
            <input class="input_reg_form" type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label class="input_reg_label" for="confirm-password">Confirm Password:</label>
            <input class="input_reg_form" type="password" id="confirm-password" name="confirm-password" required>
        </div>
        <button id="reg_button" type="submit">Register</button>
        <button id="reg_button" onclick="location.href='{% url 'signIn' %}'">Back to Sign In</button>
    </form>
    

{% endblock %}