{% extends "base.html" %}

{% block content %}
<h1 style="display: flex; justify-content: center;"> Registration Page </h1>
<div>
    <p style="display: flex; justify-content: center;"> This should contain the registration form</p>
    <p style="display: flex; justify-content: center;"> and 2 bottons or links:</p>

    <ul>
        <li style="display: flex; justify-content: center;"><a href="/"> Create account </a></li>
        <li style="display: flex; justify-content: center;"><a href="/"> Back to Sign in page </a></li>
    </ul>

    <p style="display: flex; justify-content: center;"> on registration if all fields are ok should give us a message and then take us back to logIn page</p>
</div>

{% endblock %}