{% extends "base.html" %}

{% block content %}
    <h1 style="display: flex; justify-content: center;"> Restore password Page </h1>
    <div>
        <p style="display: flex; justify-content: center;"> This should contain password recovery</p>
        <p style="display: flex; justify-content: center;"> and 2 bottons or links:</p>

        <ul>
            <li style="display: flex; justify-content: center;"><a href='/sign_in/'> back to login page </a></li>
            <li style="display: flex; justify-content: center;"><a href=''> recover password </a></li>
        </ul>
    </div>
{% endblock %}