{% extends "base.html" %}

{% block content %}
    <h1 class="li_element_page"> Sign In Page </h1>
    <div>
        <p class="li_element_page"> This should contain the login Page</p>
        <p class="li_element_page"> user and password fields</p>
        <p class="li_element_page"> and 3 bottons or links:</p>

        <ul>
            <li class="li_element_page"><a href='/home/'> LogIn </a></li>
            <li class="li_element_page"><a href='/registration/'> Sign Up (Registration) </a></li>
            <li class="li_element_page"><a href='/restore_pass/'> Restore Password </a></li>
        </ul>
    </div>
{% endblock %}