{% extends "core/base.html" %}
{% load static %}


<body>


<!------HERO CONTENT------>
{% block hero %}
    <main class="main">

        <section class="hero">
            <div class="hero__shape-small"></div>
            <div class="hero__shape-big-1"></div>
            <div class="hero__shape-big-2"></div>
            <img src="{% static 'img/shape-bg.png' %}" alt="" class="hero__shape-bg">
            <canvas id="canvas3d"></canvas>


            <div class="hero__container container">
                <div class="hero__info">


                    <h1 class="hero__title">
                        <span>Empower</span> <br>
                        Your Coding <br>
                        Journey
                    </h1>
                    <p class="hero__description">
                        From foundational skills to advanced topics, <br>
                        immerse yourself in a comprehensive <br>
                        IT learning experience.
                    </p>
{#                    <a href="#" class="hero__button" >Get Started</a>#}

                    <a href="#" class="hero__button">
                        <i><i></i></i>

                        <span >
                        Get Started
                        </span>
                    </a>
                <div class="hero__images">
                    <div class="hero__img-char">
{#                      <img src="{% static 'img/grogu.png' %}" alt="character">#}


                    </div>
                </div>
                </div>
            </div>

        </section>
    </main>
{% endblock %}
</body>
