<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Pivozavry EduApp</title>
  </head>
  <body style="background-color: #80a0cc;">
    <nav>
      <ul style="list-style: none; display: flex; justify-content: flex-end;">
        <li style="margin-right: 10px;"><a href="#" style="color: #fff; text-decoration: none;">Home</a></li>
        <li style="margin-right: 10px;"><a href="#" style="color: #fff; text-decoration: none;">About</a></li>
        <li style="margin-right: 10px;"><a href="#" style="color: #fff; text-decoration: none;">Services</a></li>
        <li><a href="#" style="color: #fff; text-decoration: none;">Contact</a></li>
      </ul>
    </nav>


    {% block content %}
        <div>Replace this value with the elements of the content</div>
    {% endblock %}
    
  </body>
</html>

