<h1> Home Page </h1>
<div>
    <p> This should contain our actual page</p>
    <p> it should have ways to access the inner functions</p>
    <p> like:</p>

    <ul>
        <li><a href=''> TechTree </a></li>
        <li><a href=''> Exercises </a></li>
        <li><a href=''> Challanges </a></li>
        <li><a href=''> User profile </a></li>
        <li><a href=''> Comunity (Forum) </a></li>
        <li><a href=''> And what we want it to do </a></li>
        <li><a href='/'> and somewhere the logout option </a></li>
    </ul>


</div>