{% extends "base.html" %}

{% block content %}
    <h1 style="display: flex; justify-content: center;"> Landing Page </h1>
    <div>
        <p style="display: flex; justify-content: center;"> This should contain some general info about the site and 2 bottons or links:</p>

        <ul>
            <li style="display: flex; justify-content: center;"><a href='sign_in/'> Sign In </a></li>
            <li style="display: flex; justify-content: center;"><a href='registration/'> Sign Up (Registration) </a></li>
        </ul>
    </div>
{% endblock %}
