{% extends "base.html" %}

{% block content %}
    <h1 style="display: flex; justify-content: center;"> Sign In Page </h1>
    <div>
        <p style="display: flex; justify-content: center;"> This should contain the login Page</p>
        <p style="display: flex; justify-content: center;"> user and password fields</p>
        <p style="display: flex; justify-content: center;"> and 3 bottons or links:</p>

        <ul>
            <li style="display: flex; justify-content: center;"><a href='/home/'> LogIn </a></li>
            <li style="display: flex; justify-content: center;"><a href='/registration/'> Sign Up (Registration) </a></li>
            <li style="display: flex; justify-content: center;"><a href='/restore_pass/'> Restore Password </a></li>
        </ul>
    </div>
{% endblock %}