/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Angle for btn animation ==========*/
    --x: 45deg;
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(203, 71%, 60%);
    --second-color: hsl(277, 56%, 68%);
    --text-color: hsl(203, 8%, 98%);
    --text-color-light: hsl(203, 8%, 80%);
    --body-color: hsl(224, 70%, 43%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Oxanium', cursive;
    --biggest-font-size: 2.25rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 4rem;
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    width: 300px;
    height: auto;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
