/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
    --header-height: 3.5rem;

    /*========== Angle for btn animation ==========*/
    --x: 45deg;
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(203, 71%, 60%);
    --second-color: hsl(277, 56%, 68%);
    --text-color: hsl(203, 8%, 98%);
    --text-color-light: hsl(203, 8%, 80%);
    --body-color: hsl(227, 70%, 5%);

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Oxanium', cursive;
    --biggest-font-size: 2.25rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 7rem;
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 1400px;
    min-width: 320px;
}

.main {
    /*overflow: hidden; !* For the animations *!*/
}

/*=============== HEADER NAVBAR ===============*/
.header {
    position: fixed;
    width: 100%;
    max-width: 1400px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--z-fixed);
    transition: backgroung .3s;
    padding: 12px;
}

.nav__container {
    position: relative;
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
}

.nav__toggle {
    font-size: 1.5rem;
    display: flex;
    cursor: pointer;
    flex: 1;
    text-align: center;
    justify-content: center;
}

.nav__logo {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav__button {
    height: 46px;
}

.nav__buttons {
    flex: 1;
    text-align: center;
    align-items: center;
    z-index: 1;
}

.button__welcome {
    position: relative;
    display: flex;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.button__auth {
    position: relative;
    display: flex;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.user__icon {
    position: relative;
    width: 40px;
    height: 40px;
    z-index: 2;
}

.nav__button span {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.nav__logo,
.nav__toggle,
.nav__link,
.nav__link-user,
.nav__link-user-signin,
.nav__link-user-signup,
.nav__button {
    color: var(--text-color);
}

.nav__list-user-desktop {
    display: none;
}

.nav__list,
.nav__list-user {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    z-index: 1;
}

.nav__link,
.nav__link-user,
.nav__link-user-signin,
.nav__link-user-signup {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    font-weight: var(--font-semi-bold);
    font-size: var(--h2-font-size);
    transition: color .4s;
    padding: 24px;
}

.nav__link,
.nav__link-user,
.nav__link-user-signin,
.nav__link-user-signup,
.nav__close,
.nav__close-user,
.active-link {
    position: relative;
    overflow: hidden;
}

.nav__link::before,
.nav__link-user::before,
.nav__link-user-signin::before,
.nav__link-user-signup::before,
.button__welcome::before,
.nav__close::before,
.nav__close-user::before,
.active-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(184, 128, 219, 0.15) 0%, rgba(81, 170, 225, 0.15) 100%);
    z-index: -1;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.nav__link:hover::before,
.nav__link-user:hover::before,
.nav__link-user-signin:hover::before,
.nav__link-user-signup:hover::before,
.nav__close:hover::before,
.nav__close-user:hover::before,
.active-link:hover::before {
    opacity: 1;
    transition: opacity .4s ease-in-out;
}

.nav__link:hover,
.nav__link-user:hover,
.nav__link-user-signin:hover,
.nav__link-user-signup:hover,
.nav__close:hover,
.nav__close-user:hover,
.active-link:hover {
    color: var(--first-color);
    transition: color 0.4s ease-in-out;
    box-shadow: 2px 2px 30px rgba(4, 4, 4, 0.15);
}

.nav__close,
.nav__close-user {
    display: flex;
    position: relative;
    width: 100%;
    padding: 20px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    font-size: 2rem;
    height: 100%;
}

.nav__logo img {
    width: 140px;
}

/*=============== Sign In Button ===============*/
.button__signin {
    border: 0;
    text-align: center;
}

/*=============== Active Link ===============*/
.active-link {
    background: linear-gradient(90deg,
    var(--second-color) 0%,
    var(--first-color) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

/*=============== Messages Style ===============*/
/* Base styles for the messages container */
.messages {
    top: 16px;
    position: relative;
    text-transform: uppercase;
    animation: moveIn 1.5s cubic-bezier(.36, 0, .06, 1) alternate;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.messages span {
    position: relative;
    padding: 10px;
    align-items: center;
    display: flex;
    background-color: rgba(4, 8, 22, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 0 5px 5px 0;
    height: 40px;
}

.messages span i {
    font-size: 22px;
    vertical-align: middle;
}

/* Style for each alert message */
.messages .alert {
    padding: 10px;
    border-radius: 5px 0 0 5px;
    transition: all 0.3s ease-in-out;
    height: 40px;
}

/* Keyframes for the animation */
@keyframes moveIn {
    100% {
        transform: translateY(0);
        opacity: 1;
        filter: blur(0px);
    }
    0% {
        opacity: 0;
        filter: blur(10px);
    }
}

/* Specific styles for different alert types */
.alert-info {
    color: var(--text-color);
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-success {
    color: var(--text-color);
    background-color: rgba(1, 255, 84, 0.45);
    width: 100%;
    text-align: center;
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: center;
}

.alert-warning {
    color: var(--text-color);
    background-color: #ffd900;
    border-color: #faebcc;
}

.alert-danger {
    color: var(--text-color);
    background-color: #ff3434;
    border-color: #ebccd1;
}

/*===============............BREAKPOINTS.............===============*/
/*=============== For small devices ===============*/
@media screen and (max-width: 1280px) {
    .nav__menu,
    .nav__menu-user {
        position: fixed;
        width: 100%;
        padding: 1.2rem 0 3.5rem;
        overflow: hidden;
        background-color: rgba(4, 8, 22, 0.6);
        height: 100vh;
        z-index: 5;
        top: 0;
        left: 0;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        will-change: transform;
    }

    .nav__menu {
        transform: translateX(-100%);
        transition: transform 0.4s ease-in-out;
    }

    .nav__menu-user {
        transform: translateX(100%);
        transition: transform 0.4s ease-in-out;
    }

    .show-menu,
    .show-menu-user {
        transform: translateX(0);
    }

    .nav__toggle {
        min-width: 60px;
        display: flex;
    }

    .button__welcome p {
        display: none;
    }

    .nav__logo img {
        width: 260px;
    }
}

/*=============== For small-medium devices ===============*/
@media screen and (min-width: 340px) {
    .nav__logo img {
        width: 180px;
    }

    .nav__toggle {
        font-size: 2rem;
    }

    .user__icon {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 360px) {
    .nav__logo img {
        width: 200px;
    }
}

@media screen and (min-width: 600px) {
    .nav__logo img {
        width: 260px;
    }
}

/*=============== For large devices ===============*/
@media screen and (min-width: 1281px) {
    .nav__list {
        flex-direction: row;
        column-gap: 1rem;
        min-width: 400px;
    }

    .nav__list {
        justify-content: left;
    }

    .nav__list-user {
        justify-content: right;
    }

    .home__title {
        margin-bottom: 3rem;
    }

    .hero__description {
        font-size: var(--h2-font-size);
    }

    .nav__toggle,
    .nav__close {
        display: none;
    }

    .home__container {
        height: 100vh;
        display: grid;
    }

    .nav__buttons {
        display: flex;
        justify-content: flex-end;
    }

    .nav__link-user-signup {
        border: 1px solid var(--text-color);
        border-radius: 50px;
    }

    .nav__link,
    .nav__link-user-signin,
    .nav__link-user-signup {
        font-size: var(--normal-font-size);
        padding: 8px 16px;
    }

    .nav__link::before,
    .button__welcome::before,
    .nav__link-user-signin::before,
    .nav__link-user-signup::before,
    .nav__close::before,
    .active-link::before {
        border-radius: 50px;
    }

    .nav__link:hover::before,
    .nav__link-user-signin:hover::before,
    .nav__link-user-signup:hover::before,
    .button__welcome:hover::before,
    .nav__close:hover::before,
    .active-link:hover::before {
        border-radius: 50px;
    }

    .button__welcome:hover::before {
        opacity: 1;
        transition: opacity .4s;
    }

    .nav__logo {
        max-width: 300px;
    }

    .nav__logo img {
        width: 300px;
    }

    .nav__buttons {
        min-width: 60px;
        max-width: 400px;
        margin-right: 16px;
    }

    .nav__menu-user {
        position: fixed;
        width: calc(50vw);
        padding: 1.2rem 0 3.5rem;
        overflow: hidden;
        background-color: rgba(4, 8, 22, 0.6);
        height: 100vh;
        z-index: 5;
        top: 0;
        left: 0;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
        will-change: transform;
    }

    .nav__menu-user {
        transform: translateX(100vw);
        transition: transform 0.4s ease-in-out;
    }

    .show-menu-user {
        transform: translateX(calc(0vw + 700px));
    }

    .nav__button .user-span {
        border: 1px solid var(--text-color);
        border-radius: 50px;
        padding: 12px 24px;
    }

    .nav__button .user-span .user__icon {
        margin-right: -12px;
        width: 40px;
    }

    .nav__button .auth-span {
        display: none;
    }

    .nav__list-user-desktop {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}




