.main{
    height: 100vh;
    max-width: 100%;
}
.hero{
    position: relative;
}

.hero__container{
    position: relative;
    border-radius: 50px;
    top: 100px;
    padding: 14px;
}

.hero__title{
    font-size: var(--biggest-font-size);
    margin-bottom: 1rem;
}

.hero__title span{
    background: linear-gradient(90deg,
                var(--second-color) 0%,
                var(--first-color) 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.hero__description{
    position: relative;
    color: var(--text-color-light);
    margin-bottom: 1.5rem;
    z-index: 0;
}
.hero__info{
    position: relative;
}

/*=============== CTA Hero Button ===============*/
.hero__button{
  position: relative;
  width: 160px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  margin-top: 0.5rem;
    z-index: 2;
}

.hero__button:hover{
  box-shadow: 0 8px 48px hsla(203,71%,25%,.5);
}

.hero__button i{
  position: absolute;
  inset: -1px;
  display: block;
  border-radius: 50px;
}

.hero__button i,
.hero__button i:nth-child(2){
  background: linear-gradient(var(--x),
  var(--second-color),
  var(--first-color));
}

.hero__button span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: var(--body-color);
    color: white;
}

.hero__button span:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
/*=============== Shapes ===============*/
.hero__shape-small,
.hero__shape-big-1,
.hero__shape-big-2{
    position: absolute;
    border-radius: 50%;
    filter: blur(140px);
    z-index: 0;
}
.hero__shape-small{
    width: 200px;
    height: 200px;
    background-color: rgba(255, 113, 12, 0.70);
    top: 16rem;
    left: 6rem;
}
.hero__shape-big-2{
    width: 260px;
    height: 260px;
}
.hero__shape-big-1{
    background-color: rgba(13, 25, 100, 0.4);
    top: 0;
    left: 15%;
    width: 220px;
    height: 220px;
}
.hero__shape-big-2{
    background-color: rgba(62, 20, 87, 0.4);
    top: 0;
    left: 40%;
}
.hero__shape-bg-1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    mix-blend-mode: soft-light  ;
    opacity: 1;
}
.hero__shape-bg-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    mix-blend-mode: soft-light;
    opacity: 0.35;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}




@media screen and (min-width: 340px) {
    .hero__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    canvas {

    }
}
@media screen and (min-width: 560px) {
    .hero__container {
        padding: 28px;
    }
}











