.congratulations-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    top: calc(var(--header-height) *4);
}

.congratulations-container h1 {
    color: var(--first-color);
    margin-bottom: 20px;
    font-size: var(--biggest-font-size);
}

.congratulations-container p {
    font-size: var(--normal-font-size);
    margin-bottom: 10px;
}

.btn-dashboard {
    border: 1px solid white;
    color: var(--text-color);
    padding: 10px 20px;
    font-weight: var(--font-semi-bold);
    cursor: pointer;
    width: 200px;
    border-radius: 50px;
    text-align: center;
}

.btn-dashboard:hover {
    background-color: var(--first-color);
}

.subject-image {
    max-width: 10%; /* Ensures the image is responsive and fits the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Optional: Adds rounded corners */
    margin-bottom: 20px; /* Adds space below the image */
}

body {
  margin: 0;
}
html,
body {
  height: 100%;
	overflow: hidden;
}
canvas {
  display: block;
}
