/* This is a temporary styling that will be change or deleted */

body {
    background-color: #80a0cc;
}

#li_element {
    margin-right: 10px;
}

#li_href {
    color: #fff; 
    text-decoration: none;
}


/* The styling that is supposed to survive till the end of times! */



