{% extends 'app_base/base.html' %}

{% load static %}

{% block extra_links %}
    <link rel="stylesheet" href="{% static 'css/app_dashboard/dashboard_base.css' %}">
    <link rel="stylesheet" href="{% static 'css/app_dashboard/dashboard_progress.css' %}">


    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript" src="{% static 'js/calendar-heatmap.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app_dashboard/calendar-heatmap.css' %}">
    <script type="text/javascript" src="{% static 'js/moment.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="dashboard__container container">

        {% block user_info %}
            <div class="dashboard__sidebar">
                <img src="{% if user.image %}{{ user.image.url }}
                    {% else %}{% static 'img/app_accounts/default_avatar.jpg' %}{% endif %}" alt="User Avatar"
                     class="avatar">
                <br>
                <h1>{{ user.username }}</h1>
                <hr>
                <br>
                email:
                <h3>{{ user.email }}</h3>
                <br>
                joined on:
                <h3>{{ user.date_joined }}</h3>
            </div>
        {% endblock user_info %}
        <div class="dashboard__mainbar">
            {% block dashboard_header %}
                <div class="dashboard__header">
                    <h1>Dashboard</h1>
                    <br>
                    <br>
                </div>
            {% endblock dashboard_header %}

            {% block dashboard_progress %}
            {% endblock dashboard_progress %}
        </div>
    </div>

{% endblock content %}

