{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
    {% block extra_css %}
    {% endblock %}
    <!------SPLINE------>
    <script async src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"></script>
    <script type="importmap">
        {
          "imports": {
            "@splinetool/runtime": "https://unpkg.com/@splinetool/runtime@0.9.523/build/runtime.js"
          }
        }


    </script>
    <!------REMIXICONS------>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
</head>

<body>

<!------HEADER------>
{% block header %}
    <header class="header" id="header">
        <nav class="nav__container">
            <div class="nav__menu" id="nav-menu">
                <div class="hero__shapes">
                    <div class="hero__shape-big-1"></div>
                    <div class="hero__shape-big-2"></div>
                </div>
                <ul class="nav__list">
                    {% for item in menu %}
                        <li class="nav__item">
                            <a href="{% url item.url_name %}"
                               class="nav__link {% if forloop.counter0 == menu_selected %}active-link{% endif %}"
                            >{{ item.name }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-fill"></i>
            </div>
            <a href="#" class="nav__logo">
                <img src="{% static 'img/logo.png' %}" alt="PYIO">
            </a>

            <div class="nav__buttons" id="nav-buttons">
                {% if user.is_authenticated %}
                    <div href="#" class="nav__button button__welcome">
                        <span>
                            <p>
                        Welcome, {{ user.username }}!
                                </p>
                        <lord-icon class="user__icon"
                                   src="https://cdn.lordicon.com/kxrhwtdg.json"
                                   trigger="hover"
                                   colors="primary:#4be1ec,secondary:#cb5eee">
                        </lord-icon>
                        </span>

                        <div class="nav__menu-user" id="nav-menu-user">
                            <div class="hero__shapes">
                                <div class="hero__shape-big-1"></div>
                                <div class="hero__shape-big-2"></div>
                            </div>
                            <ul class="nav__list-user">
                                <li class="nav__item-user">
                                    <a class="nav__link-user" href="#">Dashboard</a>
                                </li>
                                <li class="nav__item-user">
                                    <a class="nav__link-user" href="#">Profile</a>
                                </li>
                                <li class="nav__item-user">
                                    <a class="nav__link-user" href="{% url 'account_logout' %}">Sign Out</a>
                                </li>
                            </ul>

                            <div class="nav__close-user" id="nav-close-user">
                                <i class="ri-close-line"></i>
                            </div>
                        </div>


                    </div>



                {% else %}
                    <a href="{% url 'account_login' %}" class="nav__button button__signin">
                        <span>
                        Sign In
                        </span>
                    </a>
                    <a href="{% url 'account_signup' %}" class="nav__button button__signup">
                        <span>
                            Sign Up
                        </span>
                    </a>
                {% endif %}
            </div>
        </nav>
    </header>
{% endblock header %}
<!-- Django Messages -->

{% block messages %}
    <div class="container messages">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock messages %}

{% block content %}
{% endblock %}

{% block hero %}
{% endblock %}

{% block footer %}
    <footer class="footer" id="footer">
        <div>
            <span class="footer__title"></span>
        </div>
    </footer>
{% endblock %}

<script src="{% static 'js/scrollreveal.js' %}"></script>
<script src="{% static 'js/navbar.js' %}"></script>
<script src="{% static 'js/btn_animation.js' %}"></script>
<script type="module" src="{% static 'js/spline.js' %}"></script>

</body>
</html>