{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>EDU APP</title>
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">
    <!------SPLINE------>
    <script async src="https://unpkg.com/es-module-shims@1.3.6/dist/es-module-shims.js"></script>
    <script type="importmap">
      {
        "imports": {
          "@splinetool/runtime": "https://unpkg.com/@splinetool/runtime@0.9.523/build/runtime.js"
        }
      }

    </script>
    <!------REMIXICONS------>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://cdn.lordicon.com/bhenfmcm.js"></script>
</head>

<body>
<!-- Django Messages -->
<div class="container messages">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>
<!------HEADER------>
{% block header %}
    <header class="header" id="header">
        <nav class="nav container">
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#" class="nav__link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link">Features</a>
                    </li>
                    <li class="nav__item">
                        <a href="#" class="nav__link active-link">About</a>
                    </li>
                </ul>

                <div class="nav__close" id="nav-close">
                    <i class="ri-close-line"></i>
                </div>
            </div>

            <a href="#" class="nav__logo">
                <img src="{% static 'img/logo.png' %}" alt="PYIO">
            </a>

            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-fill"></i>
            </div>

            <div class="nav__buttons">
                {% if user.is_authenticated %}
                    <div href="#" class="nav__button button__welcome">
                        <span>
                        Welcome, {{ user.username }}!
                        <lord-icon class="user__icon"
                               src="https://cdn.lordicon.com/kxrhwtdg.json"
                               trigger="hover"
                               colors="primary:#4be1ec,secondary:#cb5eee">
                        </lord-icon>
                        </span>
                        <div class="dropdown-menu">
                            <br>
                            <a href="#profile">Profile</a>
                            <a href="#settings">Settings</a>
                            <a href="{% url 'account_logout' %}">Sign Out</a>
                        </div>
                    </div>



                {% else %}
                    <a href="{% url 'account_login' %}" class="nav__button button__signin">
                        <span>
                        Sign In
                        </span>
                    </a>
                    <a href="{% url 'account_signup' %}" class="nav__button button__signup">
                        <span>
                            Sign Up
                        </span>
                    </a>
                {% endif %}
            </div>
        </nav>
    </header>
{% endblock header %}

{% block content %}
{% endblock %}

{% block hero %}
{% endblock %}

{% block footer %}
    <footer class="footer" id="footer">
        <div>
            <span class="footer__title"></span>
        </div>
    </footer>
{% endblock %}

<script src="{% static 'js/scrollreveal.js' %}"></script>
<script src="{% static 'js/navbar.js' %}"></script>
<script src="{% static 'js/btn_animation.js' %}"></script>
<script type="module" src="{% static 'js/spline.js' %}"></script>

</body>
</html>