{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="assets/img/favicon.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block links %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/landing_page.css' %}">

        <!------REMIXICONS------>
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        <script src="https://cdn.lordicon.com/bhenfmcm.js" defer></script>

        <script src="{% static 'js/navbar.js' %}" defer></script>
        <script type="module" src="{% static 'js/messages.js' %}" defer></script>

    {% endblock %}

    {% block extra_links %}
    {% endblock %}


</head>

<body>

<img src="{% static 'img/shape-bg-2.png' %}" alt="" class="hero__shape-bg-2">
<img src="{% static 'img/shape-bg-1.png' %}" alt="" class="hero__shape-bg-1">

<!------HEADER------>
{% block header %}
    <header class="header" id="header">
        <nav class="nav__container">
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__close" id="nav-close">
                        <i class="ri-close-line"></i>
                    </li>
                    {% for item in menu %}
                        <li class="nav__item">
                            {% if item.url_name == 'user_progress' or item.url_name == 'user_profile' %}
                                <a href="{% url item.url_name slug=user_slug %}"
                                   class="nav__link {% if forloop.counter0 == menu_selected %}active-link{% endif %}"
                                >{{ item.name }}</a>
                            {% else %}
                                <a href="{% url item.url_name %}"
                                   class="nav__link {% if forloop.counter0 == menu_selected %}active-link{% endif %}"
                                >{{ item.name }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>


            </div>
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-menu-fill"></i>
            </div>
            <a href="{% url 'landing_page' %}" class="nav__logo">
                <img src="{% static 'img/logo.png' %}" alt="PYIO">
            </a>

            <div class="nav__buttons" id="nav-buttons">
                {% if user.is_authenticated %}
                    <div href="#" class="nav__button button__welcome">
                        <span class="user-span" id="auth-icon">
                            <p>
                        Welcome, {{ user.username }}!
                                </p>
                        <lord-icon class="user__icon"
                                   src="https://cdn.lordicon.com/kxrhwtdg.json"
                                   trigger="hover"
                                   colors="primary:#4be1ec,secondary:#cb5eee">
                        </lord-icon>
                        </span>

                        <div class="nav__menu-user" id="nav-menu-user">
                            <ul class="nav__list-user">
                                <li class="nav__close-user" id="nav-close-user">
                                    <i class="ri-close-line"></i>
                                </li>
                                <li class="nav__item-user">
                                    <a class="nav__link-user"
                                       href="{% url 'user_dashboard' %}">Dashboard</a>
                                </li>
                                <li class="nav__item-user">
                                    <a class="nav__link-user"
                                       href="{% url 'user_profile' slug=user.slug %}">Profile</a>
                                </li>
                                <li class="nav__item-user">
                                    <a class="nav__link-user" href="{% url 'exercise' 1 %}">Exercise test - </a>
                                </li>
                                <li class="nav__item-user">
                                    <a class="nav__link-user" href="{% url 'exercise' 2 %}">Exercise test + </a>
                                </li>
                                <li class="nav__item-user">
                                    <a class="nav__link-user" href="{% url 'exercise' 12 %}">Exercise code - </a>
                                </li>
                                <li class="nav__item-user">
                                    <a class="nav__link-user" href="{% url 'exercise' 13 %}">Exercise code + </a>
                                </li>
                                <li class="nav__item-user">
                                    <a class="nav__link-user" href="{% url 'account_logout' %}">Sign Out</a>
                                </li>
                            </ul>


                        </div>
                    </div>

                {% else %}
                    <div href="#" class="nav__button button__auth">
                        <span class="auth-span" id="auth-icon">
                            <lord-icon class="user__icon"
                                       src="https://cdn.lordicon.com/kxrhwtdg.json"
                                       trigger="hover"
                                       colors="primary:#4be1ec,secondary:#cb5eee">
                            </lord-icon>
                        </span>
                        <div class="nav__menu-user-desktop" id="nav-menu-user-desktop">
                            <ul class="nav__list-user-desktop">
                                <li class="nav__item-user">
                                    <a class="nav__link-user-signin" href="{% url 'user_login' %}">Sign In</a>
                                </li>
                                <li class="nav__item-user">
                                    <a class="nav__link-user-signup" href="{% url 'user_signup' %}">Sign Up</a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav__menu-user" id="nav-menu-user">
                            <ul class="nav__list-user">
                                <li class="nav__close-user" id="nav-close-user">
                                    <i class="ri-close-line"></i>
                                </li>
                                <li class="nav__item-user">
                                    <a class="nav__link-user-signin" href="{% url 'user_login' %}">Sign In</a>
                                </li>
                                <li class="nav__item-user">
                                    <a class="nav__link-user-signup" href="{% url 'user_signup' %}">Sign Up</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                {% endif %}
            </div>
        </nav>
        <div class="container messages">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
                <span class="nav__close-message" id="nav-close-user">
                    <i class="ri-close-line"></i>
                </span>
            {% endif %}
        </div>
    </header>

{% endblock header %}

{% block messages %}
{% endblock messages %}

{% block content %}
{% endblock %}

{% block hero %}
{% endblock %}

{% block footer %}
    <footer class="footer" id="footer">
        <div>
            <span class="footer__title"></span>
        </div>
    </footer>
{% endblock %}


</body>
</html>