{% extends "app_base/base.html" %}
{% load static %}


<body>
<!------HERO CONTENT------>
{% block hero %}
            <img src="{% static 'img/shape-bg-2.png' %}" alt="" class="hero__shape-bg-2">
            <img src="{% static 'img/shape-bg-1.png' %}" alt="" class="hero__shape-bg-1">
    <main class="main">
        <section class="hero">

{#            <canvas id="canvas3d"></canvas>#}

            <div class="hero__container container">
                <div class="hero__info">
                    <h1 class="hero__title">
                        <span>Empower Your Coding Journey</span>
                    </h1>

                    <p class="hero__description">
                        From foundational skills to advanced topics,
                        immerse yourself in a comprehensive
                        IT learning experience.
                    </p>

                    <a href="{% url 'account_login' %}" class="hero__button">
                        <i><i></i></i>
                        <span>
                        Get Started
                        </span>
                    </a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
</body>
