.courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.course-item {
    width: 200px;
    text-align: center;
    margin: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.course-item img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.course-item h3 {
    margin: 10px 0;
    color: var(--text-color);
}
