.courses-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
}

.course {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-decoration: none;
    color: inherit;
}

.course-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.course-name {
    font-size: 1.2rem;
    text-align: center;
}
