.dashboard-container {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    top: calc(var(--header-height) + 6rem);
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    flex-basis: 25%;
    padding: 40px;
    text-align: center;
    flex-direction: column;
    display: flex;
}

.sidebar button {
    margin-bottom: 10px;
}

.user-info {
    border-left: 1px solid var(--border-color);
    flex-basis: 75%;
    padding: 10px;
}

.avatar {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 160px;
    border-radius: 50%;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar, .user-info {
        flex-basis: 100%;
    }
}
