.dashboard__container {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    top: calc(var(--header-height) + 6rem);
    display: flex;
}

.dashboard__sidebar {
    flex-basis: 25%;
    padding: 0 20px;
    text-align: left;
    flex-direction: column;
    display: flex;
}
.dashboard__sidebar h1 {
    text-align: center;
}

.dashboard__mainbar {
    flex-basis: 75%;
    padding: 0 20px;

}

.avatar {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 160px;
    height: 160px;
    border-radius: 50%;
}



/* Responsive Design */
@media (max-width: 768px) {
    .sidebar, .user-info {
        flex-basis: 100%;
    }
}
