{% extends 'app_base/base.html' %}
{% load static %}

{% block extra_links %}
    <link rel="stylesheet" href="{% static 'css/app_exercises/exc_base.css' %}">
    <!-- CodeMirror CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.css">
    <!-- CodeMirror Theme -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/monokai.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/darcula.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/material.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/idea.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/eclipse.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/3024-night.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/theme/ambiance.min.css">
    <script defer>
        const heartSvgUrl = "{% static 'img/heart.svg' %}";
    </script>
    <script type="module" src="{% static 'js/exercise_submit.js' %}" defer></script>
    <!-- CodeMirror JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/codemirror.min.js"></script>
    <!-- Language Mode (Python) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.2/mode/python/python.min.js"></script>

{% endblock %}

{% block content %}
    <div class="exercise__container big-container">
        <div class="exercise__header">
            <!-- Add a data attribute with the image URL -->
            <div class="header-flex-column-1" id="user-life" data-initial-life="{{ request.user.life }}"
                 data-heart-svg-url="{% static 'img/heart.svg' %}">User
                Life:
                <div id="heart-container"></div>

            </div>
            <div class="header-flex-column-2">Lesson name: {{ object.name }}</div>
            <div class="header-flex-column-3">
                CodeMirror Theme <span></span>
                <select id="theme-selector">
                    <option value="monokai">Monokai</option>
                    <option value="darcula">Darcula</option>
                    <option value="material">Material</option>
                    <option value="idea">Idea</option>
                    <option value="eclipse">Eclipse</option>
                    <option value="3024-night">3024 Night</option>
                    <option value="ambiance">Ambiance</option>
                </select>
            </div>


        </div>


        <div class="exercise__content">

            <div class="exercise__question">
                <div class="exercise__menu">
                    <div class="menu-flex-column-1 selected">Task</div>
                    <div class="menu-flex-column-2">Results</div>
                    <div class="menu-flex-column-3" id="chat_join">RoboCode</div>
                </div>
                <p>{{ object.description|linebreaksbr }}</p>

                {% if not object.is_test %}
                    <div class="exersice__code-io ">
                        <div class="exercise__code" id="task-code">
                            <code class="python">
                                {{ object.code|linebreaksbr }}
                            </code>
                        </div>
                    </div>
                {% endif %}

                <hr>

                <div class="gpt__container" id="chat_room">
                    <div class="gpt__header">
                        Ask GPT-4 Mentor
                    </div>
                    <div class="gpt__form">
                        <form action="">

                            <input type="text" name="body" id="chat_message_input"
                                   placeholder="Ask your question here..."></input>
                            <button class="exc__button" id="chat_message_submit">Send</button>
                        </form>
                    </div>
                    <div class="gpt__dialog" id="chat_log">

                    </div>
                </div>


                <div class="resize-hande-horizontal"></div>

            </div>

            <div class="exercise__solution">


                <div class="exercise__response">
                    <div class="options">
                        <form>
                            {% if object.is_test %}
                                {% for question in questions %}

                                    <label for="id_answer_{{ question.id }}">
                                        <input type="checkbox"
                                               id="id_answer_{{ question.id }}"
                                               name="name_answer_{{ question.id }}"
                                               {% if is_done and question.is_correct %}checked{% endif %}
                                        > {{ question.name }}</label>

                                {% endfor %}
                            {% else %}

                                <label>
                                <textarea id="task-area" class="task-area"
                                          placeholder="Place your code here"></textarea>
                                </label>

                            {% endif %}

                        </form>

                    </div>

                    <div class="result-area">
                        <label>
                            <textarea id="result-area" placeholder="Your result will be displayed here..."
                                      readonly></textarea>
                        </label>
                    </div>
                    <div class="exc__buttons">
                        <button class="exc__button" id="submit"
                                exercise-id="{{ object.id }}"
                                exercise-is-test="{{ object.is_test|lower }}"
                        >Submit
                        </button>
                        <a href="{% url 'next_exercise' object.id %}">
                            <button class="exc__button" id="next">Next</button>
                        </a>
                        <br> <br>Is this exercise done: {{ is_done }}
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const handle = document.querySelector('.resize-hande-horizontal');
            const exerciseQuestion = document.querySelector('.exercise__question');
            let isResizing = false;

            handle.addEventListener('mousedown', function (e) {
                isResizing = true;
                let startX = e.clientX;
                let startWidth = exerciseQuestion.offsetWidth;

                function doDrag(e) {
                    if (isResizing) {
                        exerciseQuestion.style.width = (startWidth + e.clientX - startX) + 'px';
                    }
                }

                function stopDrag(e) {
                    isResizing = false;
                    document.documentElement.removeEventListener('mousemove', doDrag, false);
                    document.documentElement.removeEventListener('mouseup', stopDrag, false);
                }

                document.documentElement.addEventListener('mousemove', doDrag, false);
                document.documentElement.addEventListener('mouseup', stopDrag, false);
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const themeSelector = document.getElementById('theme-selector');
            const indicatorSpan = document.querySelector('.header-flex-column-3 span');
            document.addEventListener('click', (event) => {
                const isDropdownClicked = themeSelector.contains(event.target);
                const isSpanClicked = indicatorSpan.contains(event.target);
                if (isDropdownClicked || isSpanClicked) {
                    indicatorSpan.classList.toggle('active');
                } else {
                    indicatorSpan.classList.remove('active');
                }
            });
            themeSelector.addEventListener('change', () => {
                indicatorSpan.classList.remove('active');
            });
        });
    </script>

<script>
let chatName = ''
let chatSocket = null
let chatWindowUrl = window.location.href
let chatRoomUuid = Math.random().toString(36).slice(2, 12)

{# I want to make JS variable to store username here #}
const chatJoinElement = document.getElementById('chat_join')
const chatNameElement = '{{ request.user.username }}'
const chatRoomElement = document.getElementById('chat_room')
const chatLogElement = document.getElementById('chat_log')
const chatInputElement = document.getElementById('chat_message_input')
const chatSubmitElement = document.getElementById('chat_message_submit')

function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function sendMessage() {
    const message = chatInputElement.value
    chatSocket.send(JSON.stringify({
        'type': 'message',
        'message': chatInputElement.value,
        'name': chatName,
    }))

    chatInputElement.value = ''
}

function onChatMessage(data) {
    console.log('onChatMessage', data)

    if (data.type === 'chat_message') {
        if (data.agent) {

        } else {
            chatLogElement.innerHTML += `<div><b>${data.name}</b>: ${data.message} ${data.initials} ${data.created_at}</div>`
        }
    }
}

async function joinChatRoom() {
    chatName = chatNameElement
    console.log('Joining chat room with name:', chatName)
    console.log('Room uuid:', chatRoomUuid)

    const data = new FormData()
    data.append('name', chatName)
    data.append('url', chatWindowUrl)

    await fetch(`/exercises/api/create-room/${chatRoomUuid}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': getCookie('csrftoken')
        },
        body: data
    })
    .then(function (response) {
        return response.json()
    })
    .then(function (data) {
        console.log('data:', data)
    })

    chatSocket = new WebSocket(`ws://${window.location.host}/ws/${chatRoomUuid}/`)

    chatSocket.onmessage = function (e) {
        console.log('onMessage')

        onChatMessage(JSON.parse(e.data))
    }

    chatSocket.onopen = function (e) {
        console.log('onOpen - chat socket was opened')
    }

    chatSocket.onclose = function (e) {
        console.log('onMessage - chat socket was closed')
    }
}

chatJoinElement.onclick = function (e) {
    e.preventDefault()

    console.log('chat_join clicked')
    joinChatRoom()

    return false
}

chatSubmitElement.onclick = function (e) {
    e.preventDefault()

    sendMessage()

    return false
}
</script>

{% endblock %}
