{% extends 'app_base/base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/exercise.css' %}">
{% endblock %}

{% block content %}
    <div class="exercise-container container">
        <div class="user-info">
            <p>User life: <span id="user-life">{{ user.life }}</span></p>
            <p>Subject: {{ object.lesson.module.subject.name }}</p>
            <p>Module: {{ object.lesson.module.name }}</p>
            <p>Lesson: {{ object.lesson.name }}</p>
            <p>Exercise: {{ object.name }}</p>
            <p>Is this exercise done: {{ is_done }}</p>
            <p>Keywords:</p>
            {% for keyword in keywords %}
                <span>{{ keyword.keyword }}</span>
            {% endfor %}

        </div>

        <div class="exercise-content">
            <div class="exercise-question">
                <p>{{ object.description }}</p>
            </div>
            {% if not object.is_test %}
                <div class="exercise-code">
                <pre>
                    <code class="python">
                        {{ object.code }}
                    </code>
                </pre>
                </div>
            {% endif %}
            <div class="exercise-response">
                <div class="result-area">
                    <label>
                        <textarea id="result-area" placeholder="Your result will be displayed here..."></textarea>
                    </label>
                </div>
                <div class="options">
                    <form>
                        {% if object.is_test %}
                            {% for question in questions %}

                                <label for="id_answer_{{ question.id }}">
                                    <input type="checkbox"
                                           id="id_answer_{{ question.id }}"
                                           name="name_answer_{{ question.id }}"
                                           value="{{ question.is_correct }}"> {{ question.name }}</label>
                            {% endfor %}
                        {% else %}
                            <label>
                                <textarea class="task-area" placeholder="Place your code here"></textarea>
                            </label>
                        {% endif %}

                    </form>
                    <button class="exercise-button" id="submit"
                            exercise-id="{{ object.id }}"
                            exercise-is-test="{{ object.is_test|lower }}"
                    >Submit
                    </button>
                    <a href="{% url 'finish_exercise' object.lesson.module.subject.id %}">
                        <button class="exercise-button" id="next">Next</button>
                    </a>

                </div>
            </div>
        </div>
    </div>
    <script defer>
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        document.addEventListener('DOMContentLoaded', function () {
            const submitButton = document.getElementById('submit');
            const resultArea = document.getElementById('result-area');
            const exerciseIsTest = submitButton.getAttribute('exercise-is-test') === 'true';
            const exerciseId = submitButton.getAttribute('exercise-id');
            const csrftoken = getCookie('csrftoken');

            submitButton.addEventListener('click', function (event) {
                event.preventDefault();

                const url = exerciseIsTest ? `/exercises/api/submit_test/${exerciseId}/` : `/exercises/api/submit_code/${exerciseId}/`;
                let data = {};

                if (exerciseIsTest) {
                    let answers = {};
                    document.querySelectorAll('[name^="name_answer_"]').forEach(input => {
                        answers[input.name] = input.checked;
                    });
                    data['answer'] = answers;
                } else {
                    const codeArea = document.querySelector('.task-area');
                    data['answer'] = codeArea.value;
                }

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify(data),
                })
                    .then(response => response.json())
                    .then(data => {
                        const isCorrect = data['is_correct'];
                        const message = data['message'];
                        const userLife = data['user_life'];
                        document.getElementById('user-life').innerText = userLife;
                        if (isCorrect) {
                            resultArea.style.backgroundColor = 'green';
                        } else {
                            resultArea.style.backgroundColor = 'red';
                        }
                        resultArea.value = message;
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        });

    </script>
{% endblock %}
