{% extends 'app_base/base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/app_accounts/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="profile-container">
        <div class="sidebar">
            <!-- Sidebar with allauth links -->
            <button><a href="{% url 'account_change_password' %}">Change Password</a></button>
            <button><a href="{% url 'account_email' %}">Change Email</a></button>
            <button><a href="{% url 'account_reset_password' %}">Reset Password</a></button>
            <!-- Add more buttons as needed -->
        </div>

        <div class="user-info">
            <!-- User information and edit form -->
            <img src="{% if user.image %}{{ user.image.url }}
                {% else %}{% static 'img/app_accounts/default_avatar.jpg' %}{% endif %}" alt="User Avatar"
                 class="avatar">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div class="form-group">
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>
                <div class="form-group">
                    {{ form.bio.label_tag }}
                    {{ form.bio }}
                </div>
                <div class="form-group">
                    {{ form.image.label_tag }}
                    {{ form.image }}
                </div>
                <button type="submit">Update Profile</button>
            </form>
        </div>
    </div>
{% endblock %}
